<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ames Housing AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="[https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css](https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css)" rel="stylesheet">
</head>
<body>

    <!-- Include Sidebar -->
    {% include 'includes/nav.html' %}

    <main class="main-content">
        <!-- Content Block -->
        {% block content %}
        {% endblock %}

        <!-- Include Footer -->
        {% include 'includes/footer.html' %}
    </main>

</body>
</html>